.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hide {
  display: none;
}

.active-table-column {
  cursor: pointer;

  &:hover {
    color: rgb(197, 197, 197);
  }
}
