.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.685);
  z-index: 9999;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 380px;
  height: 200px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 30px;
}

.popup__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s, opacity 0.3s;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 24px;
    background-color: #1f1f1f;
    border-radius: 1.5px;
    transform: translateY(-50%);
  }
}

.popup__close-btn:before,
.popup__close-btn .popup__close-btn:before {
  transform: translateY(-50%) rotate(45deg);
}

.popup__close-btn:after {
  transform: translateY(-50%) rotate(-45deg);
}

.popup__close-btn:hover {
  transform: scale(1.1);
}

.popup__close-btn:active {
  opacity: 0.8;
  transform: scale(0.9);
}

.input-wrapper {
  display: flex;
  gap: 0.5rem;
}

.change-car {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 0.5rem;
}

.form-control.change-car__input-text {
  width: 100%;
}

.form-control.change-car__input-color {
  width: 25%;
}
